body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f9;
  margin: 0;
}

#game {
  text-align: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#draw-area,
#hand-area,
#deck-status {
  margin-bottom: 20px;
}

#draw-cards,
#hand-cards,
#deck-cards-status {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  width: 50px;
  height: 75px;
  background-color: #ffdd57;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

#controls button {
  margin: 10px;
  padding: 10px 20px;
  cursor: pointer;
}
